[submodule "prrte"]
	path = 3rd-party/prrte
	url = ../../WHUT666/prrte
	branch = win32-msvc-port
[submodule "openpmix"]
	path = 3rd-party/openpmix
	url = ../../WHUT666/openpmix.git
	branch = win32-msvc-port
[submodule "oac"]
	path = config/oac
	url = ../../open-mpi/oac
[submodule "3rd-party/pympistandard"]
	path = 3rd-party/pympistandard
	url = ../../mpi-forum/pympistandard
